<div class="wrapper">
  <ul class="nav-bar">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/about']"
        routerLinkActive="active"
      >Home</a>
    </li>
    <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/contact']"
          routerLinkActive="active"
        >Contact Us</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/skills']"
          routerLinkActive="active"
        >Skills</a>
      </li>
  </ul>
</div>
