* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: red;
}

.wrapper {
  height: 100%;
  width: 100%;
}
.main-box {
  margin: 3rem 3rem;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 10px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
}

li a {
  text-decoration: none;
  margin: 0 9px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about__left h1 {
  /* margin-top: 10rem; */
}

.about__left p {
  margin-top: 2rem;
  max-width: 300px;
}

.about__left--btn {
  margin: 20px 0;
  line-height: 0px;
  border-radius: 5px;
  height: 20px;
  width: 150px;
  padding: 23px;
  border: 1px solid rgb(155, 155, 155);
  outline: none;
  cursor: pointer;
}

.linkedin-btn {
margin-right: 5px;
background-color: rgb(253, 195, 48);
}

.github-btn {

}

.about__right img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
