* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: red;
}

.wrapper {
  height: 100%;
  width: 100%;
}
.main-box {
  margin: 3rem auto;
  width: 89vw;
  height: 89vh;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 10px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
}

li a {
  text-decoration: none;
  margin: 0 9px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about__left h1 {
  margin-top: 10rem;
}

.about__left p {
  margin-top: 2rem;
  max-width: 300px;
}

.about__right img {
  border-radius: 20px;
}
